header {
  height: 70px;
  background-color: #0371bc;
  padding: 0 30px;
}

header > nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  height: calc(100vh - 70px);
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sidebar {
  padding: 50px 40px 20px;
}

.container nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  padding: 50px;
  width: 100%;
}

main div {
  margin: 0 auto;
}

li {
  margin-bottom: 25px;
}

.container a {
  display: flex;
  align-items: center;
  gap: 10px;
}

a:hover {
  color: #0371bc;
}

.logo {
  height: 70%;
}
