<header>
  <nav>
    <a class="logo">
      <img src="../../../assets/images/logo/belle-scarpe-logo.png" />
    </a>
    <div class="actions">
      <app-language-switcher></app-language-switcher>
      <!-- menuProfile -->
      <app-menu-profile></app-menu-profile>
    </div>
  </nav>
</header>
<div class="main-wrapper">
  <div class="sidebar">
    <nav>
      <ul>
        <li>
          <a
            routerLink="/dashboard"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
          >
            <mat-icon>home</mat-icon>
            <div>{{ "dashboard" | translate }}</div>
          </a>
        </li>
        <li>
          <a routerLink="/dashboard/products" routerLinkActive="active">
            <mat-icon>shopping_basket</mat-icon>
            <div>{{ "manageProducts" | translate }}</div>
          </a>
        </li>
        <li>
          <a routerLink="/dashboard/users" routerLinkActive="active">
            <mat-icon>group</mat-icon>
            <div>{{ "manageUsers" | translate }}</div>
          </a>
        </li>
        <li>
          <a routerLink="/dashboard/coupons" routerLinkActive="active">
            <mat-icon>label</mat-icon>
            <div>{{ "manageCoupons" | translate }}</div>
          </a>
        </li>
        <li>
          <a routerLink="/dashboard/orders" routerLinkActive="active">
            <mat-icon>shopping_cart</mat-icon>
            <div>{{ "manageOrders" | translate }}</div>
          </a>
        </li>
        <li>
          <a routerLink="/dashboard/personal-area" routerLinkActive="active">
            <mat-icon>person</mat-icon>
            <div>{{ "personalArea" | translate }}</div>
          </a>
        </li>
      </ul>
      <app-button
        class="logout-button"
        label="logout"
        color="primary"
        icon="exit_to_app"
      ></app-button>
    </nav>
  </div>
  <div class="content">
    <main>
      <div>
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
