header {
  height: 70px;
  background-color: #0371bc;
  padding: 0 30px;
}

header > nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 70%;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

li {
  margin-bottom: 25px;
}

.main-wrapper a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-wrapper {
  height: calc(100vh - 70px);
  display: flex;
}

.main-wrapper nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar {
  padding: 50px 40px 20px;
}

.content {
  width: 100%;
  overflow-y: auto;
  background-color: #fafafa;
}

main {
  padding: 50px;
}

main div {
  margin: 0 auto;
}

a {
  color: #002d5c;
  text-decoration: none;
}

a:hover {
  color: #0371bc;
}

.active {
  color: #0371bc;
}

ul {
  width: 200px;
}
