<div [formGroup]="form">
  <div [ngSwitch]="input.controlType">
    <mat-form-field
      *ngSwitchCase="'text'"
      appearance="outline"
      class="full-width"
    >
      <mat-label [attr.for]="input.key">{{ input.label }}</mat-label>
      <input
        matInput
        [formControlName]="input.key"
        [id]="input.key"
        [type]="input.type"
      />
    </mat-form-field>

    <mat-checkbox
      *ngSwitchCase="'checkbox'"
      [formControlName]="input.key"
      [id]="input.key"
      >{{ input.label }}</mat-checkbox
    >
    <mat-form-field
      *ngSwitchCase="'date'"
      appearance="outline"
      class="full-width"
    >
      <mat-label>{{ input.label }}</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [formControlName]="input.key"
        [id]="input.key"
        [type]="input.type"
      />
      <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field
      *ngSwitchCase="'select'"
      appearance="outline"
      class="full-width"
    >
      <mat-label>{{ input.label }}</mat-label>
      <mat-select [id]="input.key" [formControlName]="input.key">
        <mat-option
          *ngFor="let opt of input.options"
          [value]="opt.key"
          selected="true"
        >
          {{ opt.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      class="full-width"
      appearance="outline"
      *ngSwitchCase="'password'"
    >
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [formControlName]="input.key"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="toggleVisibility()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field
      *ngSwitchCase="'multiline'"
      appearance="outline"
      class="full-width"
    >
      <mat-label [attr.for]="input.key">{{ input.label }}</mat-label>
      <textarea
        matInput
        [formControlName]="input.key"
        [id]="input.key"
        [type]="input.type"
      ></textarea>
    </mat-form-field>
  </div>
</div>
