<div [formGroup]="form">
  <div [ngSwitch]="input.controlType">
    <mat-form-field
      *ngSwitchCase="'text'"
      appearance="outline"
      class="full-width"
    >
      <mat-label [attr.for]="input.key">{{ input.label }}</mat-label>
      <input
        matInput
        [formControlName]="input.key"
        [id]="input.key"
        [type]="input.type"
        [readonly]="input.readonly"
      />
    </mat-form-field>

    <mat-checkbox
      *ngSwitchCase="'checkbox'"
      [formControlName]="input.key"
      [id]="input.key"
      >{{ input.label }}</mat-checkbox
    >
    <mat-form-field
      *ngSwitchCase="'date'"
      appearance="outline"
      class="full-width"
    >
      <mat-label>{{ input.label }}</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [formControlName]="input.key"
        [id]="input.key"
        [type]="input.type"
        [readonly]="input.readonly"
      />
      <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field
      *ngSwitchCase="'select'"
      appearance="outline"
      class="full-width"
    >
      <mat-label>{{ input.label }}</mat-label>
      <mat-select [id]="input.key" [formControlName]="input.key">
        <mat-option
          *ngFor="let opt of input.options"
          [value]="opt.key"
          selected="true"
        >
          {{ opt.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      class="full-width"
      appearance="outline"
      *ngSwitchCase="'password'"
    >
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [formControlName]="input.key"
        [readonly]="input.readonly"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="toggleVisibility()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field
      *ngSwitchCase="'multiline'"
      appearance="outline"
      class="full-width"
    >
      <mat-label [attr.for]="input.key">{{ input.label }}</mat-label>
      <textarea
        matInput
        [formControlName]="input.key"
        [id]="input.key"
        [type]="input.type"
        [readonly]="input.readonly"
      ></textarea>
    </mat-form-field>

    <div *ngSwitchCase="'imagepicker'">
      <p *ngFor="let fileName of selectedFileNames">{{ fileName }}</p>
      <div
        [ngStyle]="{
          margin: '20px',
          display: 'flex',
          flexDirection: 'column',
          gap: '10px'
        }"
      >
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="fileInput.click()"
        >
          Choose Image
        </button>
        <button
          *ngIf="selectedFileNames.length > 0"
          type="button"
          mat-raised-button
          color="warn"
          (click)="clearImages(input.key)"
        >
          Clear Images
        </button>
      </div>

      <input
        hidden
        (change)="selectFiles($event, input.key)"
        type="text"
        [formControlName]="input.key"
      />
      <input
        hidden
        accept="image/*"
        (change)="selectFiles($event, input.key)"
        #fileInput
        type="file"
        id="file"
      />
    </div>

    <div *ngSwitchCase="'productSize'" class="product-size-form">
      <!-- size -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ input.label }}</mat-label>
        <mat-select
          [id]="input.key + 1"
          [formControlName]="input.key"
          (selectionChange)="addSize($event, input.key)"
        >
          <!-- <mat-option
            *ngFor="let opt of input.options"
            [value]="opt.key"
            selected="true"
          >
            {{ opt.value }}
          </mat-option> -->
          <mat-option value="36" selected="false"> 36 </mat-option>
          <mat-option value="37" selected="false"> 37 </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- quantity -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label [attr.for]="input.key + 2">{{ input.label }}</mat-label>
        <input
          (change)="addQuantity($event, input.key)"
          matInput
          [formControlName]="input.key"
          [id]="input.key + 2"
          type="number"
        />
      </mat-form-field>
      <!-- price -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label [attr.for]="input.key + 3">{{ input.label }}</mat-label>
        <input
          (change)="addSellingPrice($event, input.key)"
          matInput
          [formControlName]="input.key"
          [id]="input.key + 3"
          type="number"
        />
      </mat-form-field>
    </div>

    <!-- <div>
        <img *ngFor="let preview of previews" [src]="preview" class="preview" />
      </div> -->

    <!-- <div *ngIf="message.length" class="message">
        <ul *ngFor="let msg of message; let i = index">
          <li>{{ msg }}</li>
        </ul>
      </div> -->
  </div>
</div>
