.product > div {
  display: flex;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  margin-bottom: 20px;
}

.product-details,
.product-images {
  flex-basis: 50%;
}

.product-images {
  padding-left: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.row .col {
  width: calc(100% / 3);
  padding: 0 20px 20px;
}

img {
  display: block;
  max-width: 100%;
}

.actions {
  display: flex;
  gap: 20px;
}
