<mat-card>

  <mat-card-content>
    <p>Id:
      <span>
        {{data.id}}
      </span>
    </p>
  </mat-card-content>
  <mat-card-content>
    <p> {{"transaction" |translate}}:
      <span>
        {{data.transaction}}
      </span>
    </p>
  </mat-card-content>
  <mat-card-content>
    <p> {{"transactionDate" |translate}}:
      <span>
        {{data.transaction_date}}
      </span>
    </p>
  </mat-card-content>
  <mat-card-content>
    <p> {{"paymentStatus" | translate}}:
      <span>
        {{data.payment_status}}
      </span>
    </p>
  </mat-card-content>
  <mat-card-content>
    <p> {{"status" | translate}}:
      <span>
        {{data.status}}
      </span>
    </p>
  </mat-card-content>
  <mat-card-content>
    <p> {{"total" | translate}}:
      <span>
        {{data.total_price | number : '1.0-2'}} €
      </span>
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>{{"createdAt" | translate}}:
      <span>
        {{data.created_at}}
      </span>
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>{{"userId" | translate}}:
      <span>
        {{data.user_id}}
      </span>
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>{{"address" | translate}}:
      <span>
        {{data.address}}
      </span>
    </p>
  </mat-card-content>


  <!-- <mat-card-content>
    <p>Images:</p>
    <div *ngFor="let image of imagesArray">
      <img style='width: 100px;' [src]='data.products[0].image.image_path ' />
    </div>
  </mat-card-content> -->
  <!-- <mat-card-actions>
    <button mat-button>BACK</button>
  </mat-card-actions> -->
</mat-card>