<mat-card>

  <mat-card-content>
    <p>Id:
      <span>
        {{data.id}}
      </span>
    </p>
  </mat-card-content>
  <mat-card-content>
    <p> Transaction:
      <span>
        {{data.transaction}}
      </span>
    </p>
  </mat-card-content>
  <mat-card-content>
    <p> Transaction Date:
      <span>
        {{data.transaction_date}}
      </span>
    </p>
  </mat-card-content>
  <mat-card-content>
    <p> Payment Status:
      <span>
        {{data.payment_status}}
      </span>
    </p>
  </mat-card-content>
  <mat-card-content>
    <p> Status:
      <span>
        {{data.status}}
      </span>
    </p>
  </mat-card-content>
  <mat-card-content>
    <p> Total price:
      <span>
        {{data.total_price}}
      </span>
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>Created at:
      <span>
        {{data.created_at}}
      </span>
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>Id user:
      <span>
        {{data.user_id}}
      </span>
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>Addresses:
      <span>
        {{data.address}}
      </span>
    </p>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>BACK</button>
  </mat-card-actions> -->
</mat-card>