<mat-card class="example-card">

  <mat-card-content>
    <p>Id: {{id}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Code:{{code}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> State :{{state}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Max uses :{{maxUses}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Expiration date :{{expirationDate}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Tipe :{{type}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Value :{{value}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Min order :{{minOrder}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Italian description :{{italianDescription}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> English description :{{englishDescription}}</p>
  </mat-card-content>

  <!-- <mat-card-actions>
    <button mat-button>BACK</button>
  </mat-card-actions> -->
</mat-card>
