<mat-card class="example-card">
  <mat-card-content>
    <p><strong>Id</strong>: {{ coupon.id }}</p>
  </mat-card-content>
  <mat-card-content>
    <p><strong>Code</strong>: {{ coupon.code }}</p>
  </mat-card-content>
  <mat-card-content>
    <p><strong>State</strong>: {{ coupon.status }}</p>
  </mat-card-content>
  <mat-card-content>
    <p><strong>Max uses</strong>: {{ coupon.max_usages }}</p>
  </mat-card-content>
  <mat-card-content>
    <p><strong>Expiration date</strong>: {{ coupon.expire_date }}</p>
  </mat-card-content>
  <mat-card-content>
    <p><strong>Type</strong>: {{ coupon.type }}</p>
  </mat-card-content>
  <mat-card-content>
    <p><strong>Value</strong>: {{ coupon.value }}</p>
  </mat-card-content>
  <mat-card-content>
    <p><strong>Min order</strong>: {{ coupon.min_order }}</p>
  </mat-card-content>
  <mat-card-content>
    <p><strong>Italian description</strong>: {{ coupon.description_it }}</p>
  </mat-card-content>
  <mat-card-content>
    <p><strong>English description</strong>: {{ coupon.description_eng }}</p>
  </mat-card-content>

  <!-- <mat-card-actions>
    <button mat-button>BACK</button>
  </mat-card-actions> -->
</mat-card>
