<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Title{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Id: {{id}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Transaction:{{transaction}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Transaction Date :{{transactionDate}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Payment Status :{{paymentStatus}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Status :{{status}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Total price :{{status}}</p>
  </mat-card-content>
  <mat-card-content>
    <p>Created at :{{createdAt}}</p>
  </mat-card-content>
  <mat-card-content>
    <p>Id user :{{userId}}</p>
  </mat-card-content>
  <mat-card-content>
    <p>Addresses :{{addresses}}</p>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>BACK</button>
  </mat-card-actions> -->
</mat-card>
