<div class="row">
  <div class="col">
    <div class="card">
      <h2>{{ "monthlyIncome" | translate }}</h2>
      <app-line-chart
        chartId="fatturato-mese"
        [data]="incomePerMonth"
      ></app-line-chart>
    </div>
  </div>

  <div class="col col-4">
    <div class="card">
      <h2>{{ "countrySells" | translate }}</h2>
      <app-pie-chart
        chartId="fatturato-nazione"
        [data]="incomePerNation"
      ></app-pie-chart>
    </div>
  </div>

  <div class="col col-8">
    <div class="card">
      <h2>{{ "monthlyOrders" | translate }}</h2>
      <app-bar-chart
        chartId="ordini-mese"
        [data]="ordersPerMonth"
      ></app-bar-chart>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <h2>{{ "latestOrders" | translate }}</h2>
    </div>
  </div>
</div>
