<div class="row">
  <div class="col">
    <div class="card">
      <h2>{{ "monthlyIncome" | translate }}</h2>
      <app-line-chart
        chartId="fatturato-mese"
        [data]="incomePerMonth"
      ></app-line-chart>
    </div>
  </div>

  <div class="col col-4">
    <div class="card">
      <h2>{{ "countrySells" | translate }}</h2>
      <app-pie-chart
        chartId="fatturato-nazione"
        [data]="incomePerNation"
      ></app-pie-chart>
    </div>
  </div>

  <div class="col col-8">
    <div class="card">
      <h2>{{ "monthlyOrders" | translate }}</h2>
      <app-bar-chart
        chartId="ordini-mese"
        [data]="ordersPerMonth"
      ></app-bar-chart>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <h2>{{ "latestOrders" | translate }}</h2>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="latestOrders">
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <!-- userId Column -->
          <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef>
              {{ "userId" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.user_id }}</td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>{{ "date" | translate }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.created_at | date : "dd/MM/YYYY" }}
            </td>
          </ng-container>

          <!-- Payment state Column -->
          <ng-container matColumnDef="paymentState">
            <th mat-header-cell *matHeaderCellDef>
              {{ "paymentStatus" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.payment_status }}
            </td>
          </ng-container>

          <!-- State state Column -->
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef>
              {{ "status" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
          </ng-container>

          <!-- Total Column -->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>{{ "total" | translate }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.total_price | currency : "EUR" : "symbol" : ".2-2" }}
            </td>
          </ng-container>

          <!-- Transaction -->
          <ng-container matColumnDef="transaction">
            <th mat-header-cell *matHeaderCellDef>
              {{ "transaction" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.transaction }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
