<div class="row">
  <div class="col">
    <div class="card">
      <h2>Fatturato per mese</h2>
      <app-line-chart chartId="fatturato-mese"></app-line-chart>
    </div>
  </div>

  <div class="col col-4">
    <div class="card">
      <h2>Fatturato per nazione</h2>
      <app-pie-chart chartId="fatturato-mese3"></app-pie-chart>
    </div>
  </div>

  <div class="col col-8">
    <div class="card">
      <h2>Ordini per mese</h2>
      <app-bar-chart chartId="fatturato-mese4"></app-bar-chart>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <h2>Ultimi ordini</h2>
    </div>
  </div>
</div>
