<div class="dynamic-form-container" class="dynamic-form-input">
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="dynamic-form-input">
    <div *ngFor="let input of inputs" [ngStyle]="{ width: '400px' }">
      <app-dynamic-form-input
        [input]="input"
        [form]="form"
      ></app-dynamic-form-input>
    </div>

    <div [ngStyle]="{ marginTop: '40px' }">
      <app-button
        color="primary"
        type="submit"
        [isDisabled]="!form.valid"
        [label]="submitButtonLabel"
      />
    </div>
  </form>
</div>
