<mat-card class="example-card">
  <mat-card-content>
    <p>
      <strong>
        {{
          product.isListed
            ? ("isListed" | translate)
            : ("isNotListed" | translate)
        }}
      </strong>
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>Id: {{ product.id }}</p>
  </mat-card-content>
  <mat-card-content>
    <p>{{ "category" | translate }}: {{ product.category }}</p>
  </mat-card-content>
  <mat-card-content>
    <p>{{ "startingPrice" | translate }}: {{ product.startingPrice }} €</p>
  </mat-card-content>
  <mat-card-content>
    <p>{{ "sellingPrice" | translate }}: {{ product.listedPrice }} €</p>
  </mat-card-content>
  <mat-card-content>
    <p>{{ "color" | translate }}: {{ product.color }}</p>
  </mat-card-content>
  <mat-card-content>
    <p>
      <strong>{{ "descriptionIt" | translate }}</strong>
    </p>
    <p>{{ product.descriptionIt }}</p>
  </mat-card-content>
  <mat-card-content>
    <p>
      <strong>{{ "descriptionEn" | translate }}</strong>
    </p>
    <p>{{ product.descriptionEng }}</p>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>BACK</button>
  </mat-card-actions> -->
</mat-card>
