<mat-card class="example-card">
  <mat-card-content>
    <p>
      <strong>{{ "telephone" | translate }}</strong
      >: {{ user.telephone }}
    </p>
  </mat-card-content>
  <mat-card-content>
    <p><strong>email</strong>: {{ user.email }}</p>
  </mat-card-content>
  <mat-card-content *ngFor="let address of user.addresses; let i = index">
    <p>
      <strong>{{ "address" | translate }} {{ i + 1 }}</strong
      >: {{ address.street_address }}
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>
      <strong>{{ "first_name" | translate }}</strong
      >: {{ user.first_name }}
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>
      <strong>{{ "last_name" | translate }}</strong
      >: {{ user.last_name }}
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>
      <strong>{{ "birthDate" | translate }}</strong
      >: {{ user.birth_date | date : "dd/MM/YYYY" }}
    </p>
  </mat-card-content>

  <mat-card-actions class="actions">
    <ng-content></ng-content>
  </mat-card-actions>
</mat-card>
