.example-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.example-card .actions {
  margin-top: 20px;
  align-self: center;
  justify-content: center;
}

p {
  margin: 14px auto;
}
