<mat-card class="example-card">

  <mat-card-content>
    <p>Id: {{id}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Telephone:{{phone}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Email :{{email}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Address 1 :{{address1}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Address 2 :{{address2}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Last Name :{{lastName}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Name :{{name}}</p>
  </mat-card-content>
  <mat-card-content>
    <p> Birthdate :{{birthDate}}</p>
  </mat-card-content>

  <!-- <mat-card-actions>
    <button mat-button>BACK</button>
  </mat-card-actions> -->
</mat-card>
